body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('https://images.unsplash.com/photo-1581775275191-f5f151f0a9dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.beachcomber-nav, .beachcomber-footer{
  background-color:#9acd32;
  /* opacity:0.7; */
}

.buttons{
  display:flex;
  justify-content:space-evenly;
  padding:20px;
  
}

.search-button{
  width:172px;
  /* background-color:#cd329a; */
}
.search-components{
  padding-left:10%;
  padding-right:10%;
}

.random{
display:flex;

}



.ingredient-input{
  display:flex;
  justify-content: space-around;
 align-content: center;

} 

.ingredient{
 display:flex;
  align-items:center;
}

.ingredient-items{
  max-height:300px;
  overflow: hidden;
  display:none;
  background-color:white;
}

.ingredient-item:hover{
  background-color:yellowgreen;
}

.ingredient-query-list{
  padding:10px;
  display:flex;
  flex-wrap:wrap;

}

.spirit-form{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  background-color:white;
}

.spirit{
 display:flex;

}

.spirit-item:hover{
  background-color:yellowgreen;
}

.recipe-card-component{
  display:flex;
  padding-bottom:20px;
}

.tiki-cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content:space-around;
}